<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>text</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>highlightedTextColor</key>
		<string>0xefefef</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
	<key>menuCellTitle</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0xcdcdcd</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,-1}</string>
	</dict>
	<key>menuCellSubtitle</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>14</integer>
		<key>textColor</key>
		<string>0xcdcdcd</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,-1}</string>
	</dict>
	<key>menuSectionHeader</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>12</integer>
		<key>textColor</key>
		<string>0xefefef</string>
		<key>shadowColor</key>
		<string>0x000000</string>
		<key>shadowOffset</key>
		<string>{0,0}</string>
	</dict>
	<key>cardName</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>textColor</key>
		<string>0x000000</string>
		<key>highlightedTextColor</key>
		<string>0xefefef</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0xFFFFFF</string>
		<key>shadowOffset</key>
		<string>{0,1}</string>
	</dict>
	<key>cardHeadline</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue-Bold</string>
		<key>fontSize</key>
		<integer>12</integer>
		<key>textColor</key>
		<string>0x444444</string>
		<key>highlightedTextColor</key>
		<string>0xefefef</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0xFFFFFF</string>
		<key>shadowOffset</key>
		<string>{0,1}</string>
	</dict>
	<key>cardLocation</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<integer>12</integer>
		<key>textColor</key>
		<string>0x666666</string>
		<key>highlightedTextColor</key>
		<string>0xefefef</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0xFFFFFF</string>
		<key>shadowOffset</key>
		<string>{0,1}</string>
	</dict>
	<key>cardIndustry</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeue</string>
		<key>fontSize</key>
		<integer>12</integer>
		<key>textColor</key>
		<string>0x888888</string>
		<key>highlightedTextColor</key>
		<string>0xefefef</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0xFFFFFF</string>
		<key>shadowOffset</key>
		<string>{0,1}</string>
	</dict>
	<key>articleCaption</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeueLT-MediumCond</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>textColor</key>
		<string>0x000000</string>
		<key>highlightedTextColor</key>
		<string>0x000000</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0x999999</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>5</integer>
	</dict>
	<key>slideTitle</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeueLT-MediumCond</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>textColor</key>
		<string>0x000000</string>
		<key>highlightedTextColor</key>
		<string>0x000000</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0x999999</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>5</integer>
	</dict>
	<key>moreCaptionsButton</key>
	<dict>
		<key>fontName</key>
		<string>HelveticaNeueLT-MediumCond</string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>textColor</key>
		<string>0x000000</string>
		<key>highlightedTextColor</key>
		<string>0x000000</string>
		<key>textAlignment</key>
		<string>left</string>
		<key>shadowColor</key>
		<string>0x999999</string>
		<key>shadowOffset</key>
		<string>{0, 0}</string>
		<key>numberOfLines</key>
		<integer>5</integer>
	</dict>
</dict>
</plist>
